@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Venta de Organos con MVC</h1>
    <h3>Mantenedores:</h3>
    <div class="row">
        <a class="btn btn-link" href="~/Cliente/Index">Cliente</a>
        <a class="btn btn-link" href="~/Vendedor/Index">Vendedor</a>
        <a class="btn btn-link" href="~/Comuna/Index">Comuna</a>
        <a class="btn btn-link" href="~/Direccion/Index">Direccion</a>
        <a class="btn btn-link" href="~/Productos/Index">Productos</a>
    </div>
    <div class="row">
        <a class="btn btn-link" href="~/Servicio/Index">Servicio</a>
        <a class="btn btn-link" href="~/Detalle/Index">Detalle</a>
        <a class="btn btn-link" href="~/Compra/Index">Orden de compra</a>
        <a class="btn btn-link" href="~/Sangre/Index">Sangre</a>
        <a class="btn btn-link" href="~/Medio/Index">Medio de pago</a>
    </div>
</div>

